* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  background-image: linear-gradient(45deg, blue, purple);
  min-height: 100vh;
}

/*---Header---*/

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  border-radius: 30px;
  margin: 0.5rem;
  font-size: 4rem;
  background-color: white;
}

/*---Grid products---*/

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
  margin: 0.5rem;
}

.product h3 {
  text-align: center;
}

.product img {
  height: 300px;
  width: 50%;
  object-fit: contain;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  border-radius: 30px;
  font-family: cursive;
  background-color: white;
}
.priceBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.desc {
  font-size: 12px;
  font-weight: 100;
  margin-top: 0.5rem;
}

a {
  text-decoration: none;
  color: black;
}
/*---Loader---*/

.loader {
  width: 200px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  left: 15%;
  transform-origin: 50%;
  animation: circle 0.5s alternate infinite ease;
}

@keyframes circle {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow 0.5s alternate infinite ease;
}

@keyframes shadow {
  0% {
    transform: scaleX(1.5);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.prodWrap {
  background-color: white;
  margin: 0.5rem;
  padding: 2rem;
  border-radius: 30px;
  display: flex;
}

.prodWrap > div {
  width: 50%;
}

.imgBox {
  display: flex;
  justify-content: center;
}

.imgBox img {
  width: 80%;
  object-fit: contain;
}

.prodText {
  display: flex;
  flex-direction: column;
}

.prodText h1 {
  font-family: cursive;
  text-align: center;
  margin-bottom: 3rem;
}


.pricePanel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.ratingWrapper {
  width: 200px;
  height: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.rating {
  height: 100%;
  background-color: gold;
  border-radius: 10px;
}

.ratingBar {
  display: flex;
  gap: 0.5rem;
  margin: 2rem 0;
}

.ratingCount {
  flex-grow: 1;
  text-align: right;
}

.btn {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, blue, purple);
  color: white;
  border-radius: 1.5rem;
  transition: transform 0.2s;
}

.btn:hover {
  transform: scale(1.05);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  border-radius: 30px;
  margin: 0.5rem;
  font-size: 1rem;
  background-color: white;
}

.sortBar {
  grid-column: 1/-1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3rem;
  border-radius: 30px;
  background-color: white;
  gap: 0.5rem;
  padding: 0 0.5rem;
}

.sortBtn {
  padding:  0.5rem 3rem;
  background: purple;
  color: white;
  border-radius: 1.5rem;
  border: 3px solid transparent;
}

.sortBtn.active{
  border: 3px solid black;
}