.App {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  background: linear-gradient(315deg, transparent 75%, #f7ff00 0)-10px 0,
    linear-gradient(45deg, transparent 75%, #f7ff00 0) 10px 0,
    linear-gradient(135deg, #949900 50%, transparent 0) 0 0,
    linear-gradient(45deg, #636600 50%, #313300 0) 0 0 #313300;
  background-size: 20px 20px;
  min-height: 100vh;
}
