* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}

body {
  background: linear-gradient(to right, #ad8cea, #50dfb2);
}

.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
  grid-gap: 10px;
  grid-template-areas: "h h ""n c";
}

.header {
  grid-area: h;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header span {
  font-size: 24pt;
  font-family: fantasy;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.5);
}

.header_img {
  height: 100%;
  border-radius: 50%;
  padding: 5px;
}

.nav {
  grid-area: n;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

.nav_item a {
  text-decoration: none;
  color: black;
  font-size: 15pt;
  padding: 5px;
}

.nav_item a.active {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}


.content {
  grid-area: c;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content-header {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.user {
  display: flex;
  gap: 30px;
}

.user_img {
  width: 20%;
  padding: 10px;
  border-radius: 30px;
}

.user_desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14pt;
}

.user_desc h3 {
  margin-bottom: 10px;
}

.mypost_title {
  width: 100%;
  font-size: 24pt;
  margin: 20px 0;
  padding-left: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.newpost {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 20px;
  gap: 10px;
}

.newpost textarea {
  align-self: stretch;
  min-height: 100px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  resize: none;
}

.newpost button {
  border: none;
  padding: 15px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 14pt;
  margin-left: 20px;
}

.posts {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 20px;
}

.post_item {
  display: flex;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  gap: 20px;
}

.post_img {
  width: 10%;
}

.post_text {
  width: 100%;
}

.like_btn {
  justify-self: end;
  align-self: flex-end;
  color: white;
  font-size: 20pt;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
}

.messages {
  flex-direction: row;
}

.dialogs {
  width: 30%;
  padding: 10px;
}

.dialog_item {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.dialog_img {
  height: 100px;
}

.dialog_name {
  font-weight: 1000;
  font-size: 14pt;
  color: rgba(0, 0, 0, 0.5);
}

.chat {
  width: 70%;
  padding: 20px;
}

.message p:first-child {
  font-size: 14pt;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.5);
}

.message p:last-child {
  text-align: end;
  margin-right: 30px;
  color: rgba(0, 0, 0, 0.3);
  font-size: 9pt;
}

.message {
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}