.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 5rem;
  border-radius: 10px;
  margin: 0.2rem 0.5rem;
}

.header a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  gap: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

header img {
  height: 3rem;
  display: block;
}

@media (max-width: 400px) {
  .header a {
    font-size: 2rem;
  }
}
