.sortBar {
  grid-column: 1/-1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  gap: 0.5rem;
  padding: 0 0.5rem;
  flex-wrap: wrap;
}

.sortBtn {
  padding: 0.1rem 3rem;
  background: yellow;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  transition: background 0.3s;
  font-size: 1.1rem;
  margin: 0.2rem 0;
}

.sortBtn.active {
  background-color: orange;
}


@media (max-width: 650px){
  .sortBtn {
    flex-grow: 1;
    text-align: center;
  }
}
